//
// Home
//

.banner {
    position: relative;
    background-image: url("/assets/images/banner.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    height: calc(65vh - 85px);
    
    .banner:after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        top: 0;
    }

    h1 {
        font-family: "Savoye LET", sans-serif;
        color: #3E614C;
        font-size: 5rem;
        margin-top: 2rem;
    }

    img {
       width: 860px;
       height: 137px;
    }
}

.services, .about, .contact {

    position: relative;
    scroll-margin-top: 5rem;

    h1, h2 {
        font-size: 2rem;
    }
}

.rectangle {
        position: absolute;
        width: 215px;
        height: 18px;
        border-radius: 3px;
        background-color: #C3DCCD;
        transform: translate(-50%, 50%);
        z-index: -1;
        left: 50%;
}

.services .rectangle {
    top: 47px;
}

.about .rectangle {
    top: 7px;
}

.contact .rectangle {
    top: 7px;
}

// Homepage

.service-imgs {
    position: relative;
    width: 300px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.service-imgs img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.chiro {
    transform: scaleX(-1);
}

.text-img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
}

input {
    border: 1px solid #3E614C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow {
    height: 100%;
    width: 50px;
}

// Booking page

.book, .date, .client-info {

    position: relative;
    scroll-margin-top: 5rem;
}

.book h1 {
    font-size: 1.5rem;
}

.book .rectangle {
    top: 12px;
    width: 250px;
}

.date, .client-info {

    h2 {
        font-size: 1.2rem;
    }
}

.date .rectangle {
    top: 4px;
    width: 180px;
}

.date img {
    padding-bottom: 2rem;
}

.client-info .rectangle {
    width: 180px;
}

.col-span {
    grid-column: span 12 / span 12;
}

// Media Queries
@media (min-width: 576px) {

    .date img {
        margin: 0 auto;
    }

}

@media (min-width: 768px) {

    .banner {
        margin-top: 84px;
        height: calc(65vh - 84px);
    }

    .banner h1 {
        font-size: 8rem;
    }

}

@media (min-width: 992px) {

    .banner h1 {
        font-size: 9rem;
    }

    .book h1 {
        font-size: 2rem;
    }

    .book .rectangle {
        width: 390px;
        height: 21px;
    }

    .date, .client-info {

        h2 {
            font-size: 1.5rem;
        }
    }

    .col-span {
        grid-column: span 6 / span 6;
    }

    .calendar-container {
        margin-right: 2rem;
    }

    .date img {
        padding-bottom: 0;
    }

    .date .rectangle {
        width: 220px;
        height: 18px;
    }


    .client-info .rectangle {
        width: 285px;
        height: 18px;
    }
 
}

@media (min-width: 1200px) {

    .banner h1{
        font-size: 11rem;
    }

    .calendar-container {
        margin-right: 3rem;
    }

  
}

@media( min-width: 1400px) {


}


