/* =====================
Services-Main 

Stylings to apply to only service pages
===================== */

.services-main {
    margin-top: 12em;
    padding: 0 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.services-main h1 {
    align-self: center;
    margin: calc(7.5em/3.6) 0;
    position: relative;
    font-size: 2rem;
    opacity: 0;
    animation: fadeintop 0.5s forwards;
    text-align: center;
}

.services-main h1:after {
    content: '';
    position: absolute;
    width: 130%;
    height: 33%;
    border-radius: 3px;
    background-color: #C3DCCD;
    transform: translate(-50%, 50%);
    z-index: -1;
    top: 15%;
    left: 50%;
}

.services-intro {
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    max-width: calc(110em/3);
    margin-bottom: calc(7.5em/3);
    line-height: calc(4.065em/3);
    position: relative;
    opacity: 0;
    animation: fadeintop 0.5s forwards;
}

.employees {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employees h2 {
    margin-bottom: calc(7.5em/2.6);
    font-size: 2rem;
    position: relative;
    opacity: 0;
    animation: fadeinleft 0.5s forwards 0.5s;
}

.employees h2:after {
    content: '';
    position: absolute;
    width: 120%;
    height: 33%;
    border-radius: 3px;
    background-color: #C3DCCD;
    transform: translate(-50%, 50%);
    z-index: -1;
    top: 15%;
    left: 50%;
}

.employee-con {
    display: flex;
    margin-bottom: 20em;
    position: relative;
    opacity: 0;
    max-width: 1414px;
    animation: fadeinleft 0.5s forwards 0.5s;
}

.employee-con .img-con {
    margin-right: 8.0em;
}

.employee-con .employee-img {
    min-width: 30.8em;
    height: auto;
    box-shadow: 0 0.5em 0.4em 0 #0000004D;
}

.employee-info li {
    font-size: 2.8em;
    line-height: calc(3.36em/2.8);
    margin-bottom: 3rem;
}

.employee-con .book-button {
    color: #fff;
    font-size: 2.7em;
    background-color: #3E614C;
    border: none;
    border-radius: calc(0.4em/2.7);
    padding: calc(0.8em/2.7) calc(1em/2.7);
    font-weight: 500;
    transition: all .5s;
}

.employee-con .book-button:hover {
    transform: translateY(calc(-0.5em/2.7));
    box-shadow: calc(0.1em/2.7) calc(0.5em/2.7) calc(0.5em/2.7) rgba(0, 0, 0, 0.6);
}

@keyframes fadeintop {
	from {top: -2em; opacity: 0;}
	to {top: 0; opacity: 1;}
}

@keyframes fadeinleft {
	from {left: -2em; opacity: 0;}
	to {left: 0; opacity: 1;}
}

/*============================
Media Queries
============================*/

@media (min-width: 1600px) {
	
}

@media (min-width: 1440px) {
	
}

@media (max-width: 1201px) {
	.services-main {
        font-size: 8.5px;
    }
}

@media (max-width: 993px) {
	
    .services-main {
        font-size: 7px;
    }

}

@media (max-width: 769px) {

    .services-main {
        font-size: 7px;
    }

    .employee-con {
        flex-direction: column;
        align-items: center;
    }

    .employee-con .img-con {
        margin-right: 0;
        margin-bottom: 5em;
    }

    .employee-con .employee-img {
        width: calc(30.8 * 2em);
    }

    .employee-con .info-con {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .employee-info {
        height: auto;
        margin-bottom: 5em;
    }

    .employee-info li {
        margin-bottom: calc(3em/2.8);
    }

    .employee-info li:last-child {
        margin-bottom: 0;
    }

    .employee-con .book-button {
        padding: calc(1em/2.7) calc(1.2em/2.7);
    }

    .employee-con .book-button:hover {
        transform: translateY(0);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    }
}

@media (max-width: 577px) {

    .services-main {
        font-size: 6px;
    }

    .employee-con .employee-img {
        width: calc(30.8 * 1.5em);
    }

}

@media (max-width: 281px) {
    .services-main {
        font-size: 4.5px;
    }

}