/*
|------------------------------------------
|  Header
|------------------------------------------
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: #fff;
    will-change: top;
    transition: top 0.3s ease;
    padding: 1rem;
}

header.header-up {
    top: -100px;
    box-shadow: none;
}

.img-wrap {
    flex-grow: 1;
}

header .img-link {
    display: block;
}

/*
|------------------------------------------
|  Burger
|------------------------------------------
*/

.gn-trigger {
    position: relative;
    width: 50px;
    height: 30px;
    border: none;
    outline: 0;
    background: transparent;
}

.burger {
    position: absolute;
    background: rgba(30, 48, 64, .8);
    width: 50px;
    height: 5px;
    right: 0;
    top: 50%;
}

.burger:before, 
.burger:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(30, 48, 64, .8);
    width: 50px;
    height: 5px;
    right: 0;
}

.burger:before {
    top: 14px;
}

.burger:after {
    bottom: 14px;
}

.burger,
.burger:before,
.burger:after {
    transition-property: transform, top, background;
    background: rgba(30, 48, 64, .8);
    transition-duration: .45s;
    border-radius: 10px;
}

.gn-trigger.is-active .burger:before {
    transform: rotate(45deg);
    top: -2px;
}

.gn-trigger.is-active .burger:after {
    transform: rotate(-45deg);
    top: -2px;
}

.gn-trigger.is-active .burger {
    background: rgba(117, 111, 102, 0);
}

/*
|------------------------------------------
|  Global Navigation
|------------------------------------------
*/

.gn {
    display: none;
    position: absolute;
    top: 84px;
    left: 0;
    width: 100%;
    background: #fff;
}

.gn li {
    font-size: 18px;
    border-bottom: 1px solid #868179;
}

.gn li:last-child { /*layering effect*/
    border: none;
    box-shadow: -1px 4px 5px 0px rgba(71, 71, 71, 0.35);
}

.gn a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    display: block; /*click whole box*/
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.gn a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 6px;
      border-radius: 3px;
      background-color: #C3DCCD;
      bottom: 15px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
      z-index: -1;
    }
  


/*
|------------------------------------------
|------------------------------------------
|  Media Queries
|------------------------------------------
|------------------------------------------
*/

@media (min-width: 768px) {

    header {
        padding: 0.5rem;
    }

    .gn-trigger {
        display: none;
    }

    .gn {
        display: block !important;
        position: static;
    }

    .gn-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .gn li {
        border-bottom: transparent;
    }

    .gn li:last-child {
        box-shadow: none;
    }

}

@media (min-width: 992px) {
    
    .gn a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
}